<div class="update-contact-form">
  <h4>Update Contact</h4>
  <form class="col-lg-8 col-md-8 col-sm-8 " {{action 'updateContact' on='submit'}}>
    {{input class="update" placeholder='First Name' value=contact.first_name}}
    {{input class="update" placeholder='Last Name' value=contact.last_name}}
    {{input class="update" placeholder='Job Tile' value=contact.job_title}}
    {{input class="update" placeholder='Phone Number' value=contact.phone_number}}
    {{input class="update" placeholder='Email' value=contact.email}}
    <button class='btn btn-primary update-btn' type='submit'>Update</button>
  </form>
</div>
