<h2>
  {{#if model.first_name}}
    {{model.first_name}}
  {{else}}
    Noname
  {{/if}}
  {{#if model.last_name}}
    {{model.last_name}}
  {{else}}
    Noname
  {{/if}}
</h2>

{{update-contact update='updateContact' contact=model}}

{{delete-contact delete='deleteContact' contact=model}}

<p class='col-lg-12 col-md-12 col-sm-12 text-center'>
  {{#link-to 'contacts'}}Return to Contacts{{/link-to}}
</p>
