<h2 class='text-center'>Contacts</h2>

<form {{action 'search' searchQuery on='submit'}}>
  {{input placeholder='Search Contacts' value=searchQuery}}
</form>

{{#if model}}

{{#each model as |contact|}}

  {{#link-to 'contact' contact}}
  <div class='col-lg-6 col-md-6 col-sm-6 contact'>
    {{#if contact.first_name}}
      {{contact.first_name}}
    {{else}}
      Noname
    {{/if}}
    {{#if contact.last_name}}
      {{contact.last_name}}
    {{else}}
      Noname
    {{/if}}
    <ul>
      {{#if contact.job_title}}
        <li>Job Title: <b>{{contact.job_title}}</b></li>
      {{else}}
        <li><b>Seeking Employment</b></li>
      {{/if}}
      {{#if contact.phone_number}}
        <li>Phone Number: <b>{{contact.phone_number}}</b></li>
      {{else}}
        <li><b>Phone inactive</b></li>
      {{/if}}
      {{#if contact.email}}
        <li>Email: <b>{{contact.email}}</b></li>
      {{else}}
        <li><b>Email inactive</b></li>
      {{/if}}
    </ul>

  </div>
{{/link-to}}

{{/each}}

{{else}}
<div class="text-center">
  <h3>Your contacts will appear here!</h3>

  <h2>{{#link-to 'create-contact'}}Create New Contact{{/link-to}}</h2>
</div>

{{/if}}


<p class='col-lg-12 col-md-12 col-sm-12 text-center .ret-main'>{{#link-to 'landing'}}Return to Main Page{{/link-to}}</p>
